# виртуальное окружение
.venv/

# кэш питона
__pycache__/
*.pyc

# базы данных
*.db

# настройки и секреты
.env

# IDE
.idea/
.vscode/

# системные файлы macOS
.DS_Store

# Generated LaTeX/PDF artifacts
backend/static/generated/pdf/
*.aux
*.log
*.out
*.toc
*.synctex.gz

