<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}СУРГИЛ · Дашборд{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}?v={{ time() }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/tables.css') }}?v={{ time() }}">
    {# <-- сюда страницы смогут докидывать свои стили (Leaflet и др.) #}
    {% block extra_head %}{% endblock %}
</head>
<body>
   <header class="main-header">
    <div class="header-left">
        <span class="header-project">СУРГИЛ · Дашборд</span>
    </div>

    <div class="header-right">
        {% if current_user %}
            <div class="header-user-block">
                <span class="user-label">
                    Вы вошли как <strong>{{ current_user }}</strong>
                    {% if is_admin %}
                        <span class="user-role"> · администратор</span>
                    {% endif %}
                </span>

                <div class="header-buttons">
                    {% if is_admin %}
                        <a href="/visual" class="admin-link">Дашборд</a>
                        <a href="/admin/users" class="admin-link">Пользователи</a>
                        <a href="/admin/logins" class="admin-link">Сессии</a>
                    {% endif %}
                    <a href="/logout" class="logout-link">Выйти</a>
                </div>
            </div>
        {% else %}
            <a href="/login" class="login-link">Войти</a>
        {% endif %}
    </div>
</header>

    <main class="page-container">
        {% block content %}{% endblock %}
    </main>

    {# <-- сюда страницы смогут докидывать свои скрипты #}
    {% block extra_scripts %}{% endblock %}

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
>
<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
></script>
</body>
</html>